<html lang="sv">
<%- include("../partials/head.ejs") %> 

<body>
  <%- include ("../partials/nav.ejs") %>

  <div 
  class="maincontent create-member">
  <h3>Välkommen!</h3>
  <p>Fyll i nedan fält för att bli medlem i vår bowlingförening:</p>
    <form action="/medlemmar" 
    method="POST">

      <label for="name">
        Namn:</label>
      <input type="text" 
      id="name" 
      name="name" 
      required>

      <label for="email">
        Email:</label>
      <input type="email" 
      id="email" 
      name="email" 
      required>

      <label for="phone">
        Telefon:</label>
      <input type="tel" 
      id="phone" 
      name="phone" 
      required>

      <label for="slogan">
        Din slogan:</label>
      <input type="text"
      id="slogan" 
      name="slogan" 
      required>

      <label for="birthday">
      Födelsedatum:</label>
      <input type="date" 
      id="birthday" 
      required
      name="birthday"
      value="1951-01-01"
      min="1951-01-01" 
      max="2012-12-31">

      <button>Bli medlem</button>
      
    </form>
    <p>Att bli medlem kostar 500 SEK/år och då kan du vara med och spela matcher.</p>
    <%- include("../partials/integrity.ejs") %> 
  </div>
  
  <%- include("../partials/footer.ejs") %>
</body>
</html>