<div class="integrity">
  <h3>
  Integritetspolicy<br>
  Fyrishovs Bowling</h3>
  <p>
  Vad är en personuppgift och vad är en behandling av personuppgifter?<br>
  
  Med personuppgifter avses varje slags information (både direkt och indirekt) som kan kopplas till en levande person. Typiska personuppgifter är t.ex. personnummer, namn och adress, bilder, ljudupptagningar, mejladress eller IP-adress. Alla former av åtgärder med personuppgifter är personuppgiftsbehandling, som till exempel insamling, registrering, organisering, strukturering, lagring eller bearbetning.
  <br><br>
  Personuppgiftsansvar
  <br>
  Fyrishovs Bowling (”bowlinghallen”, ”vi”) är personuppgiftsansvarig för behandlingen av dina personuppgifter. Det ansvaret tar vi med stort allvar och kommer genom denna policy att beskriva på ett transparent och tydligt sätt hur vi samlar in, använder och lagrar dina personuppgifter. 
  <br><br>
  Du kan kontakta oss genom mejl, telefon eller brev.
  <br>
  -Fyrishovs bowling- 
  <br>
  556460-3313
  <br>
  Idrottsgatan 2, 75333
  <br>
  018 24 64 00
  <br>
  fyrishovsbowling@gmail.com
  <br><br>
  När behandlar vi dina personuppgifter?
  <br>
  Bowlinghallen behandlar dina personuppgifter vid bokning eller köp av aktivitet/produkt i Fyrishovs Bowling, som t.ex. bowling, femkamp, restaurangbesök eller barnkalas. Samt vid administrativ hantering vid sportbowling, som t.ex. skåpregister. Vi behandlar även dina personuppgifter när du ansöker om anställning, eller i övrigt söker kontakt med oss.
  <br><br>
  Från vilka källor hämtar vi dina personuppgifter?
  <br>
  De uppgifter som Fyrishovs Bowling har är sådana som du själv lämnar till oss, eller som vi samlar in från dig utifrån dina bokningar, köp och hur du använder våra tjänster.
  <br><br>
  Varför och vad samlar vi in för uppgifter?
  <br>
  Beroende på relationen/ändamålet du har till Fyrishovs Bowling sparas olika personuppgifter. De personuppgifter som du lämnar registreras i olika register utifrån relation/ändamål och används dels för att administrera kund- och medlemförhållandet – dels för att tillhandahålla beställda tjänster och produkter samt fakturera, hantera vår relation.
  <br><br>
  Vid bokning av t.ex. aktivitet eller restaurangbesök förekommer det att kunden/huvudkontakten lämnar personuppgifter som namn och allergier om andra personer som är med i bokningen. Vi förutsätter att kunden/huvudkontakten har fått samtyckte att lämna ut dessa personuppgifter från alla personer som är med i bokningen.
  
    </p>
  </div>