<nav>
  <div class="siteName">
    <a href="/"><h1>Fyrishov Bowling</h1></a>
    <p>En sida för oss som bowlar ofta</p>
  </div>
  <ul class="siteNav">
    <li><a href="/">Start</a></li>
    <li><a href="/medlemmar">Våra medlemmar</a></li>
    <li><a href="/medlemmar/bli-medlem">Bli medlem</a></li>
  </ul>
</nav>