<div class="sorting">
  <a href="/medlemmar/a-z">Sortera A-Ö</a>
  <a href="/medlemmar/z-a">Sortera Ö-A</a>
  <a href="/medlemmar/nyast">Sortera nyast till äldst</a>
  <a href="/medlemmar">Sortera äldst till nyast</a>
</div>