<html lang="sv">
<%- include("./partials/head.ejs") %> 

<body>
  <%- include ("./partials/nav.ejs") %>

  <div class="maincontent homepage">
    <h2>Välkommen till oss!</h2>
    <img src="/Bild-033-745x273.jpg" 
    alt="Discobowling, käglor på banan lyser i mörkret"
    class="maincontent__img">
    <p>Välkomna hem till oss på Idrottsgatan 2.<br>

      Hos oss bowlar du bra, dricker gott och äter dig mätt.<br><br>
      
      Vi är ett litet familjeföretag som alltid strävar efter att du ska få den bästa möjliga upplevelsen av bowling.
      <br>För oss är det viktigt att du som kommer till oss känner dig välkommen och vår personal hjälper gärna till med att hitta skor eller ger tips hur du ska slå ditt personbästa.<br><br>
      
      Vår hall innehåller två sektioner. <br>Den stora hallen med sina tio banor samt VIP:en med fyra lite mer avskilda banor vilket gör oss till Uppsalas största bowlinghall.<br> Vi erbjuder bowling- och matpaket för de äldre likväl barnkalas för de yngre. <br>Har du funderingar? Var inte rädd för att slå oss en pling. Vi löser det mesta. <br><br>Vi har kök och bar vilket innebär att ingen medhavd mat eller dryck får förtäras i hallen.</p>
      <hr>
      <h3>Öppettider från och med 13/2-22</h3>
    <ul class="nodots">
      <li>Måndagar 10.00 - 21.00</li>
      <li>Tisdagar 16.00 - 21.00</li>
      <li>Onsdagar 10.00 - 21.00</li>
      <li>Torsdagar 10.00 - 21.00</li>
      <li>Fredagar 11.00 - 22.00</li>
      <li>Lördagar 11.00 - 22.00</li>
      <li>Söndagar 11.00 - 18.00</li>
    </ul>
      <hr>
      <p>Vi har också medlemmar, som kan vara med och tävla i vår hall-liga! Tveka inte att höra av dig om du har funderingar på att gå med, och hur det går till. 
      Medlemsavgift: 500 SEK/år
      </p>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>